################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsyncAwait.Tasks/.vs
/AsyncAwait.Tasks/AsyncAwait.Task1.CancellationTokens/obj
/AsyncAwait.Tasks/AsyncAwait.Task2.CodeReviewChallenge/obj
/AsyncAwait.Tasks/CloudServices/obj
/AsyncAwait.Tasks/AsyncAwait.Task1.CancellationTokens/bin/Debug/net6.0
/AsyncAwait.Tasks/AsyncAwait.Task2.CodeReviewChallenge/bin/Debug/net6.0
/AsyncAwait.Tasks/CloudServices/bin/Debug/net6.0
